.money-in-header {
  border-bottom: solid 1px rgb(201, 245, 203);
  .fas .fa-plus-circle{
    color: white;
  }
}

.money-out {
  margin-bottom: 0 !important; // didnt want to use this, will fix when there is time
}

.money-out-header {
  border-bottom: solid 1px rgb(245, 250, 197);
}

.list-payment {
  display: flex;
  flex-wrap: wrap;
  // border: 1px solid rgb(202, 185, 26);
  background: rgb(242, 221, 127);
  width: 100%;
  align-items: center;
  border-radius: 4px
}

.list-payment-money-in {
  background: rgb(132, 211, 108);
}

.payment-field {
  display: inline-block;
  padding: 12px;
}

.form-field {
  padding: 12px;
}

.money-field {
  width: 110px;
}

.specific-date-field {
  width: 210px;
}

.account-list, .manage-account-form {
  display: flex;
  flex-wrap: wrap;
  // border: 1px solid rgb(202, 185, 26);
  background: rgb(242, 221, 127);
  width: 100%;
  border-radius: 4px
}

.manage-account-form {
  background: rgb(179, 201, 241);
  align-items: center;
}

.account-details {
  display: inline-block;
  padding: 12px;
  text-align: middle;
}